#chatGPTResponse {
  width: 100%;
}
.bottom {
  position: relative;
  width: 180%;
}

.chatForm {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: rgba(64, 65, 79, 1);
  height: 1rem;
  padding: 1rem;
}

#chatGPTQuestion {
  width: 95%;
  color: #d1d5db;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#sendButton {
  color: rgba(172, 172, 190, 1);
  cursor: pointer;
  position: relative;
  bottom: 12px;
  left: 10px;
}
.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
